<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
      <a class="navbar-brand" href="#">{{ title.value }}</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li *ngFor="let item of navList.value">
          <a href="{{item.link}}">{{ item.name }}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- Full Page Image Background Carousel Header -->
<header id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel"
      *ngFor="let item of slide.value; let first=first; let i=index"
      [attr.data-slide-to]="i" [ngClass]="{active: first}"></li>
  </ol>
  <!-- Wrapper for Slides -->
  <div class="carousel-inner">
    <div class="item" [ngClass]="{active: first}" *ngFor="let item of slide.value; let first=first">
      <!-- Set the first background image using inline CSS below. -->
      <div class="fill" [ngStyle]="{'backgroundImage': 'url(' + item.src + ')'}"></div>
      <div class="carousel-caption">
        <h2>{{ item.content }}</h2>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{ title.value }}</h1>
      <p>{{ content.value }}</p>
    </div>
  </div>
  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
    <!-- /.row -->
  </footer>
</div>
<!-- /.container -->

<!--Control Nav-->
<div class="control-nav">
  <div>
    <h2 class="control-title glyphicon"
    [ngClass]="{'glyphicon-ok set-ok': title.isSet, 'glyphicon-remove set-no': !title.isSet}">標題</h2>
    <span class="input input--hoshi">
      <input class="input__field input__field--hoshi" type="text" [(ngModel)]="title.value" (keyup)="checkIsChanged(title)"/>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1">
        <span class="input__label-content input__label-content--hoshi">Title</span>
    </label>
    </span>
  </div>
  <hr>

  <div>
    <h2 class="control-title glyphicon"
    [ngClass]="{'glyphicon-ok set-ok': content.isSet, 'glyphicon-remove set-no': !content.isSet}">內文</h2>
    <span class="input input--hoshi">
      <textarea class="input__field input__field--hoshi textarea__field" [(ngModel)]="content.value" (keyup)="checkIsChanged(content)"></textarea>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1 textarea__label">
        <span class="input__label-content input__label-content--hoshi">Content</span>
    </label>
    </span>
  </div>
  <hr>


  <div style="margin: 50px 0;">
    <h2 class="control-title glyphicon"
    [ngClass]="{'glyphicon-ok set-ok': navList.isSet, 'glyphicon-remove set-no': !navList.isSet}">導覽列
      <a (click)="pushNav()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </h2>
    <div style="height: 90px;" *ngFor="let item of navList.value; let i=index">
      <a class="control-btn-delete" (click)="deleteData(i, navList.value)">
        <span class="glyphicon glyphicon-minus fa-2x"></span>
      </a>

      <span class="input input--hoshi" style="width: 100px;">
      <input class="input__field input__field--hoshi" type="text" [(ngModel)]="item.name" (keyup)="checkIsChanged(navList)"/>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1">
        <span class="input__label-content input__label-content--hoshi">Name</span>
      </label>
      </span>
      <span class="input input--hoshi" style="width: 250px;">
      <input class="input__field input__field--hoshi" type="text" [(ngModel)]="item.link" (keyup)="checkIsChanged(navList)"/>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1">
        <span class="input__label-content input__label-content--hoshi">Link</span>
      </label>
      </span>
    </div>
  </div>
  <hr>

  <div style="margin: 50px 0;">
    <h2 class="control-title glyphicon"
    [ngClass]="{'glyphicon-ok set-ok': slide.isSet, 'glyphicon-remove set-no': !slide.isSet}">循環背景
      <a (click)="pushSlide()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </h2>

    <div style="height: 90px;" *ngFor="let item of slide.value; let i=index">
      <a class="control-btn-delete" (click)="deleteData(i, slide.value)">
        <span class="glyphicon glyphicon-minus fa-2x"></span>
      </a>

      <span class="input input--hoshi" style="width: 250px;">
      <input class="input__field input__field--hoshi" type="text" [(ngModel)]="item.src" (keyup)="checkIsChanged(slide)"/>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1">
        <span class="input__label-content input__label-content--hoshi">Src</span>
      </label>
      </span>
      <span class="input input--hoshi" style="width: 100px;">
      <input class="input__field input__field--hoshi" type="text" [(ngModel)]="item.content" (keyup)="checkIsChanged(slide)"/>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1">
        <span class="input__label-content input__label-content--hoshi">Content</span>
      </label>
      </span>

    </div>
  </div>
  <hr>


  <button type="submit" class="btn btn-primary" (click)="doSettingPage()">Submit</button>
</div>
