
.pricing-section {
	min-height: 100vh;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.pricing-section {
	padding: 2em 0 8em;
	min-height: 100vh;
	position: relative;
}

.pricing-section__title {
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,.5);
	font-size: 4em;
	font-weight: 800;
	margin: 1em 0 .5em;
	flex: none;
}

.pricing-section a {
	color: #333;
}

.pricing-section a:hover,
.pricing-section a:focus {
	color: #000;
}

.bg-1 {
  position: fixed;
  height: 100%;
  width: 100%;
	background: url('/assets/img/rock-bg.jpg') no-repeat center center;
	background-size: cover;
	color: #111;
}

/*************
*	功能選擇
****************/

.fn-list span{
	color: #fff
}

.fn-list a :hover{
	color: cyan;
}
