<div class="full" [ngStyle]="{background: 'url(' + page.template.module.background + ') no-repeat center center fixed'}">
  <div class="show">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand" href="#">{{ page.template.module.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li *ngFor="let item of page.template.module.navList">
              <a href="{{item.link}}">{{ item.name }}</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1>{{ page.template.module.title }}</h1>
          <p>{{ page.template.module.content }}</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</div>
<div class="control-nav">
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" type="text" [(ngModel)]="page.template.module.title"/>
    <label class="input__label input__label--hoshi input__label--hoshi-color-1">
      <span class="input__label-content input__label-content--hoshi">Title</span>
  </label>
  </span>
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" type="textarea" [(ngModel)]="page.template.module.content"/>
    <label class="input__label input__label--hoshi input__label--hoshi-color-1">
      <span class="input__label-content input__label-content--hoshi">Content</span>
  </label>
  </span>
  <span class="input input--hoshi">
    <input class="input__field input__field--hoshi" type="textarea" [(ngModel)]="page.template.module.background"/>
    <label class="input__label input__label--hoshi input__label--hoshi-color-1">
      <span class="input__label-content input__label-content--hoshi">Background</span>
  </label>
  </span>


  <div style="height: 90px;" *ngFor="let item of page.template.module.navList">
    <span class="input input--hoshi" style="width: 100px;">
    <input class="input__field input__field--hoshi" type="textarea" [(ngModel)]="item.name"/>
    <label class="input__label input__label--hoshi input__label--hoshi-color-1">
      <span class="input__label-content input__label-content--hoshi">Name</span>
    </label>
    </span>
    <span class="input input--hoshi" style="width: 300px;">
    <input class="input__field input__field--hoshi" type="textarea" [(ngModel)]="item.link"/>
    <label class="input__label input__label--hoshi input__label--hoshi-color-1">
      <span class="input__label-content input__label-content--hoshi">Link</span>
    </label>
    </span>
  </div>

  <hr>
  <pre>{{ page | json }}</pre>

  <a (onclick)="doSettingPage()" [routerLink]="['/pages']"> OK </a>
</div>
