<div class="full"
  [style.backgroundImage]="'url(' + background.value + ')'"
  [style.backgroundSize]="'cover'"
  [style.backgroundRepeat]="'no-repeat'"
  [style.backgroundPosition]="'center center'"
  [style.backgroundAttachment]="'fixed'">
  <div class="show">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
          <a class="navbar-brand" href="#">{{ title.value }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li *ngFor="let item of navList.value">
              <a href="{{item.link}}">{{ item.name }}</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h1>{{ title.value }}</h1>
          <p>{{ content.value }}</p>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</div>

<!--Control Nav-->
<div class="control-nav">
  <div>
    <h2 class="control-title glyphicon"
    [ngClass]="{'glyphicon-ok set-ok': title.isSet, 'glyphicon-remove set-no': !title.isSet}">標題</h2>
    <span class="input input--hoshi">
      <input class="input__field input__field--hoshi" type="text" [(ngModel)]="title.value" (keyup)="checkIsChanged(title)"/>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1">
        <span class="input__label-content input__label-content--hoshi">Title</span>
      </label>
    </span>
  </div>
  <hr>

  <div>
    <h2 class="control-title glyphicon"
    [ngClass]="{'glyphicon-ok set-ok': content.isSet, 'glyphicon-remove set-no': !content.isSet}">內文</h2>
    <span class="input input--hoshi">
      <textarea class="input__field input__field--hoshi textarea__field" [(ngModel)]="content.value" (keyup)="checkIsChanged(content)"></textarea>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1 textarea__label">
        <span class="input__label-content input__label-content--hoshi">Content</span>
      </label>
    </span>
  </div>
  <hr>

  <div>
    <h2 class="control-title glyphicon"
    [ngClass]="{'glyphicon-ok set-ok': background.isSet, 'glyphicon-remove set-no': !background.isSet}">背景</h2>
    <span class="input input--hoshi">
      <input class="input__field input__field--hoshi" type="text" [(ngModel)]="background.value" (keyup)="checkIsChanged(background)"/>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1">
        <span class="input__label-content input__label-content--hoshi">Background</span>
      </label>
    </span>
  </div>
  <hr>


  <div style="margin: 50px 0;">
    <h2 class="control-title glyphicon"
    [ngClass]="{'glyphicon-ok set-ok': navList.isSet, 'glyphicon-remove set-no': !navList.isSet}">導覽列
      <a (click)="pushNav()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </a>
    </h2>

    <div style="height: 90px;" *ngFor="let item of navList.value; let i=index">
      <a class="control-btn-delete" (click)="deleteData(i, navList.value)">
        <span class="glyphicon glyphicon-minus fa-2x"></span>
      </a>
      <span class="input input--hoshi" style="width: 100px;">
      <input class="input__field input__field--hoshi" type="text" [(ngModel)]="item.name" (keyup)="checkIsChanged(navList)"/>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1">
        <span class="input__label-content input__label-content--hoshi">Name</span>
      </label>
      </span>
      <span class="input input--hoshi" style="width: 250px;">
      <input class="input__field input__field--hoshi" type="text" [(ngModel)]="item.link" (keyup)="checkIsChanged(navList)"/>
      <label class="input__label input__label--hoshi input__label--hoshi-color-1">
        <span class="input__label-content input__label-content--hoshi">Link</span>
      </label>
      </span>
    </div>
  </div>
  <hr>
  <button type="submit" class="btn btn-primary" (click)="doSettingPage()">Submit</button>
</div>
