<div class="carousel slide bg" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner bg-slide" role="listbox">
    <div class="bg-slide item active animated fadeIn">
      <div class="bg-slide bg-slide-img-1"></div>
    </div>

    <div class="bg-slide item animated fadeIn">
      <div class="bg-slide bg-slide-img-2"></div>
    </div>

    <div class="bg-slide item animated fadeIn">
      <div class="bg-slide bg-slide-img-3"></div>
    </div>
  </div>

</div>

<div class="bg bg-webview wow bounceInUp"></div>

<div class="space"></div>
<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">Login</h1>
    <form ngForm>
    <!-- login user information -->

    <div class="input-container">
      <input type="text" #userEmail="ngModel" required name="email" [(ngModel)]="user.email"
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"/>
      <label for="Email">Email</label>
      <div class="bar"></div>
    </div>
    <div class="errors-container">
      <div class="errors" *ngIf="userEmail.errors">
        <p *ngIf="userEmail.errors.required">required</p>
        <p *ngIf="userEmail.errors.pattern">pattern</p>
      </div>
    </div>


    <div class="input-container">
      <input type="password" #userPwd="ngModel" required minlength="6" name="password" [(ngModel)]="user.password"/>
      <label for="Password">Password</label>
      <div class="bar"></div>
    </div>
    <div class="errors-container">
      <div class="errors" *ngIf="userPwd.errors">
        <p *ngIf="userPwd.errors.required">required</p>
        <p *ngIf="userPwd.errors.minlength">minlength</p>
      </div>
    </div>

    <div class="button-container">
      <button (click)="loginUser(userPwd, userEmail)"><span>Go</span></button>
    </div>

    <!--<div class="footer"><a href="#">Forgot your password?</a></div>-->
    </form>
  </div>

  <div class="card alt">
    <div class="toggle"></div>
    <h1 class="title">Register
      <div class="close"></div>
    </h1>
    <form ngForm>
    <!-- register user information -->

    <div class="input-container">
      <input type="text" #userName="ngModel" required name="name" [(ngModel)]="user.name"/>
      <label for="Name">Name</label>
      <div class="bar"></div>
    </div>
    <div class="errors-container">
      <div class="errors-alt" *ngIf="userName.errors">
        <p *ngIf="userName.errors.required">required</p>
      </div>
    </div>

    <div class="input-container">
      <input type="text" #userEmail="ngModel" required name="email" [(ngModel)]="user.email"
      pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"/>
      <label for="Email">Email</label>
      <div class="bar"></div>
    </div>
    <div class="errors-container">
      <div class="errors-alt" *ngIf="userEmail.errors">
        <p *ngIf="userEmail.errors.required">required</p>
        <p *ngIf="userEmail.errors.pattern">pattern</p>
      </div>
    </div>


    <div class="input-container">
      <input type="password" #userPwd="ngModel" required minlength="6" name="password" [(ngModel)]="user.password"/>
      <label for="Password">Password</label>
      <div class="bar"></div>
    </div>
    <div class="errors-container">
      <div class="errors-alt" *ngIf="userPwd.errors">
        <p *ngIf="userPwd.errors.required">required</p>
        <p *ngIf="userPwd.errors.minlength">minlength</p>
      </div>
    </div>


    <div class="button-container">
      <button (click)="createUser(userPwd, userEmail)"><span>Next</span></button>
    </div>


    </form>
  </div>
</div>



<a id="codepen" href="/" title="Go Back to MainPage"><i class="fa fa-sign-out"></i></a>
