<div class="xd-slide-container">
  <div id="xd-slideshow" class="xd-slideshow">
    <ul>
      <li>
        <div class="xd-slide">
          <img class="icon" src="assets/img/icons/browser.svg" alt="Browser Icon" />
          <h1>為新增的頁面給個名稱吧:</h1>


          <span class="input input--hoshi">
							<input class="input__field input__field--hoshi" type="text" id="input-4" [(ngModel)]="page.page_title" required/>
							<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
								<span class="input__label-content input__label-content--hoshi">Name</span>
          </label>
          </span>

        </div>
      </li>
      <li>
        <div class="xd-slide">
          <img class="icon" src="assets/img/icons/heart.svg" alt="Heart Icon" />
          <h1>選擇你的樣板:</h1>
          <div>
            <a class="template-name" (click)="page.template=temp.name; addActive($event)" *ngFor="let temp of templateList">
              <img [src]="'/assets/img/template/' + temp.name + '.png'" height="200px">
              {{ temp.name }}
              </a>
          </div>
        </div>
      </li>
      <li>
        <div class="xd-slide">
          <img class="icon" src="assets/img/icons/letter.svg" alt="Letter Icon" />
          <h1>給個漂亮的風格吧:</h1>


        </div>
      </li>
      <li>
        <div class="xd-slide">
          <img class="icon" src="assets/img/icons/football.svg" alt="Football Icon" />
          <h1>恭喜你!!，完成你的網頁設定</h1>
          <h1>可以到設定進行網頁內容編輯喔XD</h1>

          <button type="submit" class="btn btn-info finish-add" (click)="sendNewPage()">Go Back to Setting Page</button>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- /container -->
