body {
  margin-top: 50px;
  /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.image-bg-fluid-height,
.image-bg-fixed-height {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.image-bg-fluid-height {
  padding: 100px 0;
}

.image-bg-fixed-height {
  height: 450px;
}

.img-center {
  margin: 0 auto;
}

section {
  padding: 75px 0;
}

.section-heading {
  margin: 30px 0;
  font-size: 4em;
}

.section-lead {
  margin: 30px 0;
}

.section-paragraph {
  margin: 30px 0;
}

footer {
  margin: 50px 0;
}

@media(max-width:768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .section-heading {
    font-size: 2em;
  }
}


/*********
 control nav
***********/

.control-nav {
  width: 500px;
  height: 100%;
  padding: 50px 20px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .5);
  z-index: 2000;
  overflow: scroll;
  box-shadow: -5px 0 4px rgba(100, 110, 150, .5);
}

.control-title {
  margin: 0;
  text-align: center;
  color: rgb(0, 30, 50)
}

.control-btn-delete {
  padding: 50px 0;
  display: inline-block;
  color: red;
}

.control-btn-delete:hover {
  color: rgb(100, 0, 0)
}
